<!-- <app-side-bar></app-side-bar>  -->


<div class="jumbotron">
    <h2>My adverts</h2>
  </div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <table  class="cs-table table table-striped">
        <thead>
          <tr>
            <th>marka</th>
            <th>model</th>
            <th>Rok produkcji</th>
            <th>paliwo</th>
            <th>przebieg</th>
            <th>moc</th>
            <th>cena</th>
          </tr>
        </thead>
        <tbody>
           <tr *ngFor="let car of cars; let i=index" class="row-car" [routerLink]="['/cars', car.id]">
            <td>{{car.marka}}</td>
             <td>{{car.model}}</td>
             <td>{{car.rokProdukcji}}</td>
             <td>{{car.paliwo}}</td>
             <td>{{car.przebieg}}</td>
             <td>{{car.moc}}</td>
             <td>{{car.cena}}</td>
             <td (click)="removedCar(car)" class="remove-btn">( X )</td>
             <!-- <td>{{car.deliveryDate}}</td>
            <td>{{car.deadline}}</td>
            <td>{{car.client.firstName}} {{car.client.surname}}</td>
            <td>{{car.cost}}</td>  -->
          </tr> 
        </tbody>
      </table>
    </div>
  </div>
 
</div>